@model aspnet_mvc_authentication_membership.Models.MyTask

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MyTask</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaskSummary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskSummary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskDue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskDue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskReporter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskReporter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskAssignee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskAssignee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priority.PriorityDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priority.PriorityDesc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TaskId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
